body {
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   color: white;
}

a {
  color:white;
}

a:visited {
  color: #rgb(176,176,176);
}

a:hover {
  color: rgb(176,176,176);
  text-decoration: none;
}


#nav-buttons {
  height:3vh;
  width: 100vw;
  position:fixed;
  float:right;
  margin-left:70vw;
}

#social-button-holder {
  margin-left:35px;
}

#intro {
  height: 90vh;
  background-color: #2c3e50;
}

#into-tidbit {
  margin-left: 35px;
  font-weight:200;
  font-size:1.25em;
}

#aboutMe {
  height: 90vh;
  background-color: #6ab388
}

#projects {
  height: 75vh;
  background-color: #e74c3c;
}

#contact{
  height: 25vh;
  background-color:#9932CD;
}

#title {
  margin-left: 50px;
}

#about-me-body {
  margin-left: 40px;
  margin-right: 40px;
  font-weight:200;
  font-size:1.25em;
}

#project-holder img {
  width: 20vw;
  border-radius:25px;
  margin-left:10px;
  margin-bottom: 10px;
}

.proj {
  height: 100px;
  width: 100px;
  background-color: black;
  float:left;
  margin-left: 25px;
}
